<template src="./tpl.htm" id="result-tpl"></template>

<script type="text/javascript">
module.exports = {
    template: '#result-tpl',

    data: function() {
        return {
            estateList: [],
            isUsed: false
        }
    },

    mounted: function() {
        this.$root.$on('filterUpdated', this.updateTableHandler);
    },

    methods: {
        fetch: function(params) {
            this.isUsed = true;

            return this.$http.get('/api/estates', { params: params }).then(function(response) {
                this.estateList = response.data;
                this.$root.$emit('dataReceived', this.estateList);
                return this.estateList;
            }.bind(this));
        },

        updateTableHandler: function(payload) {
            this.fetch(payload);
        }
    }
}
</script>