<div>
    <p v-if="!isUsed" class="bg-info" style="padding: 15px">Please, provide any filters params to obtain the data...</p>
    <table class="table table-hover" v-if="estateList.length > 0">
        <thead>
            <tr>
                <th class="col-xs-5">Name</th>
                <th class="col-xs-1 text-center">Bedrooms</th>
                <th class="col-xs-1 text-center">Bathrooms</th>
                <th class="col-xs-1 text-center">Storeys</th>
                <th class="col-xs-1 text-center">Garages</th>
                <th class="col-xs-3 text-center">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in estateList">
                <td>{{ item.name }}</td>
                <td class="text-center">{{ item.bedrooms_count }}</td>
                <td class="text-center">{{ item.bathrooms_count }}</td>
                <td class="text-center">{{ item.storeys_count }}</td>
                <td class="text-center">{{ item.garages_count }}</td>
                <td class="text-center">{{ item.price }}</td>
            </tr>
        </tbody>
    </table>
    <p v-show="isUsed && estateList.length == 0" class="bg-warning" style="padding: 15px">No one results found</p>
</div>