<template src="./tpl.htm" id="filter-form-tpl"></template>

<script type="text/javascript">
module.exports = {
    template: '#filter-form-tpl',

    data: function() {
        var data = {
            keyword: null,
            bedrooms_count: null,
            bathrooms_count: null,
            storeys_count: null,
            garages_count: null,
            price_from: null,
            price_to: null,
        };

        this.$options.defaults = data;

        return {
            form: JSON.parse(JSON.stringify(data))
        };
    },

    methods: {
        submit: function() {
            var params = {
                keyword: this.form.keyword || undefined,
                bedrooms_count: this.form.bedrooms_count || undefined,
                bathrooms_count: this.form.bathrooms_count || undefined,
                storeys_count: this.form.storeys_count || undefined,
                garages_count: this.form.garages_count || undefined,
                price_from: this.form.price_from || undefined,
                price_to: this.form.price_to || undefined
            }

            this.$emit('change', params);
            this.$root.$emit('filterUpdated', params);
        },

        resetForm: function() {
            this.form = JSON.parse(JSON.stringify(this.$options.defaults));
        },
    }
}
</script>