<form @submit.prevent="submit">
    <div class="form-group">
        <input type="text" v-model="form.keyword" class="form-control" id="filter-search" placeholder="Search...">
    </div>
    <div class="form-group row">
        <label for="filter-bedrooms" class="form-control-static col-xs-7">Bedrooms</label>
        <div class="col-xs-5">
            <input type="text" v-model="form.bedrooms_count" class="form-control" id="filter-bedrooms" placeholder="None">
        </div>
    </div>
    <div class="form-group row">
        <label for="filter-bathrooms" class="form-control-static col-xs-7">Bathrooms</label>
        <div class="col-xs-5">
            <input type="text" v-model="form.bathrooms_count" class="form-control" id="filter-bathrooms" placeholder="None">
        </div>
    </div>
    <div class="form-group row">
        <label for="filter-storeys" class="form-control-static col-xs-7">Storeys</label>
        <div class="col-xs-5">
            <input type="text" v-model="form.storeys_count" class="form-control" id="filter-storeys" placeholder="None">
        </div>
    </div>
    <div class="form-group row">
        <label for="filter-garages" class="form-control-static col-xs-7">Garages</label>
        <div class="col-xs-5">
            <input type="text" v-model="form.garages_count" class="form-control" id="filter-garages" placeholder="None">
        </div>
    </div>
    <div class="form-group row">
        <label for="filter-garages" class="form-control-static col-xs-4">Price</label>
        <div class="col-xs-4">
            <input type="text" v-model="form.price_from" class="form-control" id="filter-garages" placeholder="None">
        </div>
        <div class="col-xs-4">
            <input type="text" v-model="form.price_to" class="form-control" id="filter-garages" placeholder="None">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5 text-center">
            <a href="#" @click.prevent="resetForm" style="margin-top: 10px; display: inline-block">Reset Form</a>
        </div>
        <div class="pull-right col-md-4">
            <button type="submit" class="form-control btn btn-primary">Apply!</button>
        </div>
    </div>
</form>